body {
    display: flex;

    height: 100vh;

    background-color: #edf2f4;

    justify-content: center;
    align-items: center;
}

ul {
    padding: 15px;
    padding-left: 30px;

    border-radius: 3px;
    background: #fff;
    box-shadow: 1px 0 25px #cddbe1;
}

li {
    font-size: 22px;
    margin: 5px;
}
